<mat-tab-group preserveContent dynamicHeight>
  <mat-tab label="First">
    <mat-form-field appearance="fill" class="select-filter-class">
      <mat-select #forceCFC [value]="'C'">
        <mat-option value="C">CFC 180</mat-option>
        <mat-option value="B">CFC 60</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Second">
    <mat-form-field appearance="fill" class="select-filter-class">
      <mat-select #forceCFC [value]="'C'">
        <mat-option value="C">CFC 180</mat-option>
        <mat-option value="B">CFC 60</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Third">
    <mat-form-field appearance="fill" class="select-filter-class">
      <mat-select #forceCFC [value]="'C'">
        <mat-option value="C">CFC 180</mat-option>
        <mat-option value="B">CFC 60</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>


<app-report-misuse-interieur-variant-web></app-report-misuse-interieur-variant-web>
